---
import Layout from '../layouts/Layout.astro';
import ProjectPageLayout from '../layouts/ProjectPageLayout.astro';
---
<Layout title="Mantas Imbrasas Portfolio">
	<ProjectPageLayout
		title="ChainWatcher" 
		imageLink="/img/chainwatcher_preview.png"
		techStack={['React', 'Tailwindcss', 'Ethers', 'MongoDB', 'Express', 'Socket.io']} 
	>
		<p>A decentralized web application used to track wallets on Ethereum VM based blockchains like Binance Smart Chain, Arbitrum, and Ethereum itself.</p>
	</ProjectPageLayout>
</Layout>
