---
import Layout from '../layouts/Layout.astro';
import ProjectPageLayout from '../layouts/ProjectPageLayout.astro';
---
<Layout title="Mantas Imbrasas Portfolio">
	<ProjectPageLayout
		title="ChainWatcher" 
		imageLink="/img/chainwatcher_preview.png"
		techStack={['React', 'Tailwindcss', 'Ethers', 'MongoDB', 'Express', 'Socket.io']} 
	>
		<p>A decentralized web application used to track wallets on Ethereum VM based blockchains like Binance Smart Chain, Arbitrum, and Ethereum itself.</p>
		<p>As the sole planner and developer of the project, I identified the most important features and prioritized them. I then created a minimal
			working prototype of the application, which was then tested and refined until it was ready for production.</p>
		<p>The application was built using React and Tailwindcss for the frontend, and MongoDB and Express for the backend. Both frontend and backend also
			used Socket.io for real-time communication, and Ethers for interacting with Ethereum-based blockchains.</p>
		<p>project graph on how frontend and backend communicate</p>
		<p>project graph on how the backend scans the blockchain for new transactions, fetches the relevant data, and stores it in the database,
			then broadcasts it to the frontend</p>
	</ProjectPageLayout>
</Layout>
