---
import Layout from '../layouts/Layout.astro';
import AboutMeCard from '../components/AboutMeCard.astro';
import MyWorkSection from '../components/MyWorkSection.astro';
---

<Layout title="Mantas Imbrasas Portfolio">
	<main class="flex flex-col items-center justify-center py-12 w-4/6 gap-24">
		<AboutMeCard />
		<MyWorkSection />
	</main>
</Layout>
