---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import AboutMeCard from '../components/AboutMeCard.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center py-12 w-4/6 gap-24">
		<Navbar />
		<AboutMeCard />
	</main>
</Layout>
